.button__img
  width: 100% // 부모의 크기에 맞게 설정
  height: 100% // 부모의 크기에 맞게 설정
  cursor: pointer
  border: none
  border-radius: 24px
  white-space: nowrap
  object-fit: contain

  background-color: #ffffff
  box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))
