.GameListContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 12px 40px 12px 0px;

  /* 임시 */
  border: solid 1px red;
}

.GameList {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GameThumbnail {
  margin: 6px 0px;
  width: 440px;
  height: 262px;

  transition: transform 0.5s ease-in-out;
}

button {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

button:first-of-type {
  top: 10px; /* 위쪽 버튼의 위치 설정 */
}

button:last-of-type {
  bottom: 10px; /* 아래쪽 버튼의 위치 설정 */
}
