.home-page
  display: flex
  flex-direction: row
  width: 100%
  height: 100vh
  gap: 20px
  background: linear-gradient(180deg, #e96d91, #fff49e)

  .home-user
    flex: 2
    display: flex
    height: 100%
    flex-direction: column
    padding-right: 12px
    margin-left: 40px
    margin-right: auto

    &__exp
      flex: 1
      margin: 12px 0
      height: 10%

      background: #FFFFFF
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 4px rgba(255, 255, 255, 0.75), inset 1px 1px 4px rgba(0, 0, 0, 0.25)
      border-radius: 24px

      &--exp-wrap
        border-radius: 30px
        background-color: lightblue
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        color: black
        font-weight: bold

        background: #D0FF01
        box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

    &__character
      flex: 7
      display: flex
      height: 40%
      justify-content: center
      align-items: center

      &--image
        max-width: 100%
        max-height: 100%
        object-fit: contain

    &__sub-menu
      flex: 1
      display: flex
      height: 10%
      justify-content: space-between
      margin: 12px 0
      gap: 12px
      &--button
        width: 100%

  .home-game
    flex: 3
    margin-right: 40px
    margin-left: auto
    height: 100%

    padding-left: 12px

.home-user__exp
  position: relative
  flex: 1
  margin: 12px 0
  height: 50px // 바 높이를 고정해서 텍스트와 바가 겹치지 않게
  background: #FFFFFF
  border-radius: 24px
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset -1px -1px 4px rgba(255, 255, 255, 0.75), inset 1px 1px 4px rgba(0, 0, 0, 0.25)

  // 경험치 바 스타일
  &--exp-wrap
    position: absolute
    top: 0
    left: 0
    height: 100%
    background-color: lightblue
    border-radius: 30px
    z-index: 1
    transition: width 0.3s ease-in-out

  // 경험치와 레벨 텍스트가 바 위에 표시되도록 수정
  &--text
    position: absolute
    top: 10px // 바와 같은 높이로 맞춤
    left: 0
    width: 100% // 텍스트가 한 줄에 표시될 수 있도록 너비를 100%로 설정
    text-align: center // 텍스트 중앙 정렬
    font-size: 14px
    font-weight: bold
    color: black
    white-space: nowrap // 텍스트가 줄바꿈되지 않도록 설정
    z-index: 2 // 바 위에 텍스트가 오도록 z-index 설정
