// 전체 페이지 스타일
.login-Page
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  margin: 0
  padding: 0
  overflow: hidden
  background-image: url('../background/loginbg.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  box-sizing: border-box
  font-family: 'CookieRun-Regular', serif
  writing-mode: horizontal-tb

// 로고 섹션
.login-Logo
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 30%

  &__img
    width: 30%

// 로그인 폼
.login-form
  width: 100%
  text-align: center
  margin: 0 auto
  margin-top: -4rem

  .login-input
    width: 90%
    margin: 0 auto

    input
      width: 90%
      margin: 0.8rem 0
      height: 50px
      background: rgba(255, 255, 255, 0.8)
      border-radius: 10px
      border: none
      padding: 10px 11px
      box-sizing: border-box
      outline: none

      &::placeholder
        font-size: 1rem

    // input 안에 clear 버튼 추가를 위한 스타일
    .input-wrapper
      position: relative
      width: 100%

      .clear-icon
        position: absolute
        right: 2rem
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        font-size: 1rem
        color: #999
        width: 20px

        &:hover
          color: #000

// 로그인 버튼
.login-button
  position: relative
  border: none
  width: 80%
  margin: 0 auto
  padding: 10px 11px
  box-sizing: border-box
  margin-top: 3rem
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.3rem
  font-weight: bold
  border-radius: 10px
  background-color: #FFBC7D
  color: white

  img
    width: 100px
    position: absolute
    top: -60px

  &:disabled
    background-color: #cccccc
    cursor: not-allowed

// 링크(아이디 찾기, 회원가입) 박스
.link-box
  display: flex
  margin: 1.5rem auto
  width: 80%
  justify-content: space-between
  font-size: 0.8rem

  .link-item
    text-decoration: none
    color: black
    opacity: 0.7
    position: relative

    &::after
      content: '>'
      font-size: 0.65rem
      margin-left: 5px

// 구분선 스타일
.divider
  color: rgba(0, 0, 0, 0.2)
  margin: 0 10px
  font-weight: lighter
  font-size: 0.8rem
