html {
  width: 100%;
  height: 100dvh;
  padding-top: env(safe-area-inset-top);
  overscroll-behavior: none;

  @media all and (display-mode: standalone) {
    height: 100vh;
  }
}

body {
  overflow-y: scroll;
}
