body {
  /* ios setting */
  padding: env(safe-area-inset);
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
  html,
  body {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 100vw;
    left: 0;
  }
}

/* 가로모드일 때는 원래대로 표시 */
@media only screen and (orientation: landscape) {
  html,
  body {
    transform: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
