.game3-page
  // display: flex
  // flex-direction: column
  width: 100vw
  height: 100vh
  background-color: #FFBC7D

  .top-nav
    display: flex
    height: 10%
    padding: 12px 40px
    gap: 40px
    justify-content: space-between

    &__back-space
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px
      background-color: #ffffff
      border: none
      cursor: pointer
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

    &__time-stamp
      flex: 8

      &--timebar
        width: 100%   
        height: 100%  
        border-radius: 80px
        background-color: #fff

    &__bookmarker
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px
      background-color: #ffffff
      border: none
      box-sizing: border-box
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

  .main-content
    display: flex
    flex-wrap: wrap
    height: 80%
    padding: 0 120px
    gap: 12px
    justify-content: center
    align-items: center

    &__card
      width: calc(25% - 12px)
      min-width: 140px
      min-height: 140px
      // height: 40%
      border-radius: 24px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      background-color: #ffffff
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))
