.game4-page
  width: 100vw
  height: 100vh
  background-color: #6A7FDB

  .top-nav
    display: flex
    height: 10%
    padding: 12px 40px
    gap: 40px
    justify-content: space-between

    &__back-space
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px 
      background-color: #ffffff
      border: none
      cursor: pointer
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

    &__time-stamp
      flex: 8

      &--timebar
        width: 100%   
        height: 100%  
        border-radius: 80px
        background-color: #fff

    &__bookmarker
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px
      background-color: #ffffff
      border: none
      box-sizing: border-box
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

  .main-content
    display: flex
    padding: 12px 40px
    height: 75%

    .book-container
      display: flex
      flex-direction: column
      flex: 3
      gap: 12px
      padding-right: 12px

      &__img-wrap
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        max-height: 70% // 부모 컨테이너 높이 내에서 이미지가 맞춰짐
        height: auto

        &--img
          width: 100%
          height: 100%
          object-fit: contain
          border-radius: 24px
          background-color: #ffffff
          box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      
      &__story-wrap
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        border-radius: 24px
        padding: 10px
        background-color: #ffffff
        box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
        &--text
          font-size: large
    .card-container
      display: flex
      flex: 2
      flex-wrap: wrap
      padding-left: 12px
      gap: 12px

      &--card-wrap
        flex: calc(25% - 12px)
        min-width: 100px
        background-color: #ffffff
        padding: 8px 16px
        border-radius: 16px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
        filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

.book-container__story-wrap--text 
  font-size: large
  word-spacing: 0.1em


.blank 
  display: inline-block
  width: 24px
  border: 1px solid black

