.game3-page
  width: 100vw
  height: 100vh
  background-color: #FFBC7D
  display: flex
  flex-direction: column

  .top-nav
    display: flex
    height: 15%
    padding: 12px 40px
    gap: 40px
    justify-content: space-between

    &__back-space
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px
      background-color: #ffffff
      border: none
      cursor: pointer
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

    &__time-stamp
      flex: 8

      &--timebar
        width: 100%
        height: 100%
        border-radius: 80px
        background-color: #fff

    &__bookmarker
      display: flex
      flex: 1
      min-width: 120px
      padding: 8px 16px
      justify-content: center
      align-items: center
      border-radius: 24px
      background-color: #ffffff
      border: none
      box-sizing: border-box
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

  .main-content
    display: flex
    flex-wrap: wrap
    height: 60%
    padding: 0 4rem
    gap: 1rem
    justify-content: center
    align-items: center

    &__card
      width: 20%
      aspect-ratio: 1 / 1 // 정사각형 유지
      border-radius: 24px
      border: 12px solid #c3c3c3
      box-sizing: border-box
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      background-color: #ffffff
      box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.75), inset -1px -1px 4px rgba(0, 0, 0, 0.25)
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25))

      &--img
        object-fit: contain
        width: 50%
        height: 50%

    &__card--selected
      border: 12px solid #00d400

// .test
//   display: flex
//   flex-direction: column
//   justify-content: center
//   height: 70%
//   margin-top: 0.5rem
